
@{
    ViewBag.Title = "Index";
}


            <!--==============================content================================-->
            <section id="content">
                <div class="div-main">
                    <div class="div-main-indent">
                        <div class="container_24">
                            <div class="wrapper">
                                <div class="grid_8">
                                    <div class="box-7">
                                        <h2>who we are</h2>
                                        <img src="~/images/page-1-img.jpg" alt="" class="bot-3">
                                        <span class="bold">Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. </span>
                                        <p class="top-3">Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus.</p>
                                        <p class="top-3 bot-2">Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. </p>
                                        <a href="#" class="button">read more</a>
                                    </div>
                                </div>
                                <div class="grid_9">
                                    <div class="box-8">
                                        <h2>what we offer</h2>
                                        <span class="bold">Nam elit magna, hendrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. </span>
                                        <p class="top-3">Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. </p>
                                        <ul class="list top-3">
                                            <li><a href="#">Kerode Miaersyde </a></li>
                                            <li><a href="#">Naserta Fasderase</a></li>
                                            <li><a href="#">Buvenas</a></li>
                                            <li><a href="#">Miaersy Berose Kerta</a></li>
                                            <li><a href="#">Lertyas Ferase</a></li>
                                        </ul>
                                        <p class="top-3">Cum sociis natoque penatibus et magnis dis parturient montes. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. </p>
                                    </div>
                                </div>
                                <div class="grid_7">
                                    <h2 class="padd-3">our features</h2>
                                    <div class="wrapper-extra bdb-4">
                                        <img src="~/images/page-1-img-1.jpg" alt="" class="fleft right-1 top-2">
                                        <div class="extra-wrap">
                                            <span class="bold">Praesent tileueno meras</span>
                                            <p>
                                                Aenean nommy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi.
                                            </p>
                                            <p class="top-3">Cum s natoque penatibus et magnis dis parturient montes, nascur ridiculus mus. Nulla dui. </p>
                                            <a href="#" class="button top-0-2">read more</a>
                                        </div>
                                    </div>
                                    <div class="wrapper-extra">
                                        <img src="~/images/page-1-img-2.jpg" alt="" class="fleft right-1 top-2">
                                        <div class="extra-wrap">
                                            <span class="bold">Aenean nec eros</span>
                                            <p>
                                                Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec.
                                            </p>
                                            <a href="#" class="button top-0-2">read more</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="grid_24 divider"></div>
                                <div class="grid_8">
                                    <div class="box-9">
                                        <h2>shipping</h2>
                                        <a href="#" class="col bold hov">Nam elit magna, hendrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa.</a>
                                        <p class="top-3">
                                            Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus.
                                            Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio.
                                        </p>
                                    </div>
                                </div>
                                <div class="grid_11">
                                    <div class="box-10">
                                        <h2>testimonials</h2>
                                        <div class="wrapper-extra">
                                            <img src="~/images/page-1-img-3.jpg" alt="" class="fleft right-2 top-2">
                                            <div class="extra-wrap">
                                                <a href="#" class="bold col hov">Mark Johnson:</a>
                                                <p class="top-3">&ldquo;Praesent vestibulum molestie lacus. Aenean nonmy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus. Nulla dui. Fusce feugiat...&rdquo;</p>
                                                <p class="ff-1 txt_al-r">Mark Johnson</p>
                                                <p class="txt_al-r ff-2">Manager, NYC</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid_5">
                                    <h2 class="bot-2-1">links</h2>
                                    <ul class="list">
                                        <li><a href="#">Kerode Miaersyde</a></li>
                                        <li><a href="#">Naserta Fasderase</a></li>
                                        <li><a href="#">Buvenas</a></li>
                                        <li><a href="#">Miaersy Berose Kerta</a></li>
                                        <li><a href="#">Lertyas Ferase</a></li>
                                        <li><a href="#">Buvenas Sedacera</a></li>
                                        <li><a href="#">Nertyade Kertaseas</a></li>
                                    </ul>
                                </div>

                            </div><!--the end of wrapper-->
                        </div>
                    </div>
                </div>
            </section>
            <!--==============================footer=================================-->
            <footer>
                <div class="main-footer">

                    <div class="main-foot-1">
                        <p>aquarius &copy; 2012 <img src="~/images/arrow-footer.jpg" alt="">  @Html.ActionLink("Privacy Policy", "Index", "Index6")</p>
                    </div>
                </div>
                <div class="main-footer-1">
                </div>
            </footer>
        </div>
    </div>
</body>
</html>


@{
    ViewBag.Title = "Index";
}

<!--==============================content================================-->
<section id="content">
    <div class="div-main">
        <div class="div-main-indent">
            <div class="container_24">
                <div class="wrapper">
                    <div class="grid_7">
                        <h2 class="padd-4">list of questions</h2>
                        <ul class="list">
                            <li><a href="#">Aenean nonummy hendrerit?</a></li>
                            <li><a href="#">Phasellus porta. Fusce suscipit?</a></li>
                            <li><a href="#">Cum sociis natoque penatibus?</a></li>
                            <li><a href="#">Et magnis dis parturient?</a></li>
                            <li><a href="#">Montes, nascetur ridiculus mus?</a></li>
                            <li><a href="#">Nulla dui. Fusce feugiat?</a></li>
                            <li><a href="#">Morbi nunc odio, gravida at?</a></li>
                            <li><a href="#">Cursus nec, luctus a, lorem?</a></li>
                            <li><a href="#">Maecenas tristique orci ac sem?</a></li>
                            <li><a href="#">Duis ultricies pharetra magna? </a></li>
                            <li><a href="#">Donec accumsan malesuada? </a></li>
                            <li><a href="#">Donec sit amet eros?</a></li>
                        </ul>
                    </div>
                    <div class="grid_17">

                        <div class="box-12">
                            <h2>frequently asked questions</h2>
                            <a href="#" class="bold col hov">Q.: Nam elit magna, hendrerit sit amet ac sed, nulla. Donec porta diam eu massa? </a>
                            <p class="top-3 bot-0-1">
                                A.: Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna.
                                Donec accumsan malesuada orci. Donec sit amet eros.
                            </p>
                            <a href="#" class="bold col hov">Q.: Donec porta diam eu massa. Quisque diam lorem, interdum vitae?</a>
                            <p class="top-3 bot-0-1">
                                A.: Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna.
                                Donec accumsan malesuada orci. Donec sit amet eros.
                            </p>
                            <a href="#" class="bold col hov">Q.: Proin dictum elementum velit. Fusce euismod? </a>
                            <p class="top-3 bot-0-1">
                                A.: Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna.
                                Donec accumsan malesuada orci. Donec sit amet eros.
                            </p>
                            <a href="#" class="bold col hov">Q.: Neque porro quisquam est, qui dolorem ipsum quia dolor?  </a>
                            <p class="top-3 bot-0-1">
                                A.: Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna.
                                Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.
                            </p>
                        </div>
                    </div>
                </div><!--the end of wrapper-->
            </div>
        </div>
    </div>
</section>
<!--==============================footer=================================-->
<footer>
    <div class="main-footer">

        <div class="main-foot-1">
            <p>aquarius &copy; 2012 <img src="~/images/arrow-footer.jpg" alt="">  @Html.ActionLink("Privacy Policy", "Index", "Index6")</p>
        </div>
    </div>
    <div class="main-footer-1">
    </div>
</footer>
        
